RewriteEngine on
RewriteCond %{HTTP_HOST} ^autismoregiondemurcia.es$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.autismoregiondemurcia.es$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]