html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: rgb(14, 165, 235)
}

figcaption {
    font-size: 1.5rem;
    color: rgb(41, 165, 236);
}

h1, h2 {
    color: rgb(76, 156, 129);
}

.justify {
    text-align: justify;
}

body {
    background-color: rgb(238, 238, 238);
    margin: 0;
}

main.contenido {
    flex: 1;
}

.pie {
    background-color: rgb(129, 173, 255);
    width: 100%;
    padding: 1rem 0;
}